body#painel{
    section.content{
        .avatar-info-left{
			position: fixed;
			margin-top: 85px;
				margin-left: -15px;
			.avatar-edit{
				position: relative;
				img{
					position: relative;
					max-width: 240px;
					width: calc(100% - 15px);
				}
				a.cam-edit-avatar{
					position: absolute;
					bottom: 0;
					left: 0;
					display: -webkit-flex; /* Safari */
					display: flex;
					overflow: hidden;
					-webkit-align-items: center; /* Safari 7.0+ */
					align-items: center;
					width: 48px;
					height: 48px;
					padding: 16px;
					border-radius: 50%;
					background: #FF6F00;
					i{
						margin: 0 auto;
						color: white;
					}
				}
			}
			.acount-infos{
				margin-top: 30px;
				h2{
					margin-bottom: 0;
					text-align: center;
					font-family: $bold;
					font-size: 16px;
				}
				span.mail{
					display: block;
					text-align: center;
					font-family: $regular;
					font-size: 14px;
				}
				span.group{
					display: block;
					margin-top: 30px;
					text-align: center;
					font-size: 14px;
				}
				span.client{
					display: block;
					text-align: center;
					color: rgba(0,0,0,0.54);
					font-size: 16px;
				}
			   input[type=checkbox]:checked + label{
				   color: rgba(0,0,0,0.12);
				   transition: all 0.3s;
			   }
				label{
					display: block;
					margin-top: 21px;
					text-align: center;
					text-transform: uppercase;
					color:#FF6F00;
					cursor: pointer;
					transition: all 0.3s;
					font-family: $semibold;
				}
			}
		}
    }
}