body#painel{
    section.content{
        .content-middle{
			margin-top: 85px;
			form.editar-dados{
				display: none;
                padding: 0 1rem 3rem 1rem;
                a#back2{
                    display: block;
                    text-align: left;
                    text-transform: uppercase;
                    color: #FF6F00;
                    cursor: pointer;
                    -webkit-transition: all 0.3s;
                    -o-transition: all 0.3s;
                    transition: all 0.3s;
                    font-family: "monradsemibold", sans-serif;
                }
                h4{
                    font-family: $bold;
                    margin-top: 25px;
                    margin-bottom: 15px;
                    font-size: 16px
                }
                .input-radios{
					margin-bottom: 25px;
					.form-check{
                        display: inline-block;
                        margin-top: 1.5em;
						padding-left: 0;
						margin-right: 10px;
						.form-check-label{
							padding-left: 25px;
						}
						.form-check-input[type=radio].with-gap:checked+label:after, .form-check-input[type=radio]:checked+label:after, label.btn input[type=radio].with-gap:checked+label:after, label.btn input[type=radio]:checked+label:after{
							background-color: #ff6f00;
						}
						.form-check-input[type=radio].with-gap:checked+label:after, .form-check-input[type=radio].with-gap:checked+label:before, .form-check-input[type=radio]:checked+label:after, label.btn input[type=radio].with-gap:checked+label:after, label.btn input[type=radio].with-gap:checked+label:before, label.btn input[type=radio]:checked+label:after{
							border: 2px solid #ff6f00;
						}
					}
				}
                label.mini-info{
                    font-size: 12px;
                    display: block;
                    margin-bottom: -19px;
                }
                .dropdown-content li>a, .dropdown-content li>span{
                    color: rgba(0,0,0,0.87);
                }
                .custom-control-input:checked~.custom-control-label::before{
                    color: #fff;
                    background-color: #ff6f00;
                     outline: 0;
                    cursor: pointer;
                    &:focus {
                        outline: 0;
                    }
                }
                .custom-checkbox .custom-control-input:checked~.custom-control-label::before, .custom-checkbox .custom-control-input:indeterminate~.custom-control-label::before{
                    background-color: #ff6f00;
                     outline: 0;
                    cursor: pointer;
                    &:focus {
                        outline: 0;
                    }
                }
                .save{
                    display: block;
                    margin-bottom: 30px;
                    text-transform: uppercase;
                    color: white;
                    background-color: #FF6F00;
                    font-family: "monradbold", sans-serif;
                    font-size: 14px;
                    margin: 0;
                    margin-top: 20px;
                }
			}
			.nav-tabs{
				margin-bottom: 15px;
				margin-left: 15px;
				height: 25.33px;
				border-bottom: none;
				font-family: $bold;
				.nav-link{
					margin-right: 25px;
					padding: 0;
					text-transform: uppercase;
					color: rgba(0,0,0,0.38);
					border: none;
					border-radius: 0;
					font-size: 16px;
					&.active{
						color: rgba(0,0,0,0.87);
						border-bottom: 3px solid #FF6F00;
						border-radius: 0;
						background: #f8f8f8;
					}
				}
			}
			.tab-content{
				padding-top: 0;
				
			}
			.tab-content > .tab-pane,
			.pill-content > .pill-pane {
				display: block;     /* undo display:none          */
				height: 0;          /* height:0 is also invisible */ 
				overflow-y: hidden; /* no-overflow                */
			}
			.tab-content > .active,
			.pill-content > .active {
				height: auto;       /* let the content decide it  */
			}
			.lupa-search{
				position: relative;
				label.searchevent{
					color: black;
				}
				i{
					position: absolute;
					top: 7px;
					color: rgba(0,0,0,0.37);
				}
				 ::-webkit-input-placeholder::before{
						content: 'RAFA MOREIRA BROHW';
					}
				input{
					width: 65%;
					padding-left: 25px;
					::-webkit-input-placeholder::before{
						content: 'RAFA MOREIRA BROHW';
					}
				}
				input::placeholder::before {
				   content: 'RAFA MOREIRA BROHW';
				}
			}
			#paneInsc{
				form.input-radios{
					margin-bottom: 25px;
					.form-check{
						display: inline-block;
						padding-left: 0;
						margin-right: 10px;
						.form-check-label{
							padding-left: 25px;
						}
						.form-check-input[type=radio].with-gap:checked+label:after, .form-check-input[type=radio]:checked+label:after, label.btn input[type=radio].with-gap:checked+label:after, label.btn input[type=radio]:checked+label:after{
							background-color: #ff6f00;
						}
						.form-check-input[type=radio].with-gap:checked+label:after, .form-check-input[type=radio].with-gap:checked+label:before, .form-check-input[type=radio]:checked+label:after, label.btn input[type=radio].with-gap:checked+label:after, label.btn input[type=radio].with-gap:checked+label:before, label.btn input[type=radio]:checked+label:after{
							border: 2px solid #ff6f00;
						}
					}
				}
				.card-insc{
					position: relative;
					margin-bottom: 30px;
					border: 1px solid #E3E3E3;
					border-radius: 3px;
					background: white;
					.header-card-insc{
						padding: 25px;
						h3{
							color: rgba(0,0,0,0.87);
							font-family: $semibold;
							font-size: 20px;
						}
						span.date-card-insc{
							color: rgba(0,0,0,0.37);
						}
						.control-group{
							position: absolute;
							top: 0;
							right: 0;
							$heart: "\f004";
							$openheart: "\f08a";
							@mixin checkmark($size) {
								content: $openheart;
								font-family: FontAwesome;
								font-size: $size;
							}
							@mixin box-style($size) {
								position: absolute;
								width: 1.05*$size;
								height: $size;
								margin-top: 0.1*$size;
								margin-left: -1.6*$size;
								content: "";
							}
							@mixin no-select {
								-webkit-user-select: none;
								-moz-user-select: none;
								-ms-user-select: none;
								user-select: none;
								-webkit-touch-callout: none;
								-khtml-user-select: none;
							}
							.red-heart-checkbox {
								visibility: hidden;
								$primary: #F00;
								$secondary: #888;
								$size: 30px;
								& + label {
									padding-left: 0.5*$size;
									transition: all 0.2s;
									font-size: $size;
									@include no-select;
								}
								&:checked + label:before {
									content: $heart;
									cursor: pointer;
									color: $primary;
								}
								& + label:before {
									cursor: pointer;
									transition: all 0.3s;
									color: $secondary;
									@include box-style($size);
									@include checkmark($size);
								}
							}
						}
					}
					img.banner-insc{
						width: 100%;
						height: 200px;
						object-fit: cover;
					}
					.footer-card-insc{
						padding: 25px;
						p{
							strong.pedido-cancelado{
								color: #C0392B;
							}
							strong.pedido-confirmado{
								color: #329110;
							}
							strong.pedido-pendente{
								color: #D47B07;
							}
						}
						a{
							margin-right: 15px;
							color: #FF6F00;
							font-family: $semibold;
						}
						i{
							float: right;
							font-size: 1.5em;
							color: #FF6F00;
							cursor:pointer;
						}
					}
				}
			}
			#paneCont{
				a.create-contact{
					font-family: $semibold;
					color: #FF6F00;
					margin-bottom: 20px;
					display: inline-block;
				}
				.accordion{
					.card-contato{
						margin-bottom: 15px;
                        .input-radios{
                            // margin-bottom: 25px;
                            .form-check{
                                display: inline-block;
                                padding-left: 0;
                                margin-right: 10px;
                                .form-check-label{
                                    padding-left: 25px;
                                }
                                .form-check-input[type=radio].with-gap:checked+label:after, .form-check-input[type=radio]:checked+label:after, label.btn input[type=radio].with-gap:checked+label:after, label.btn input[type=radio]:checked+label:after{
                                    background-color: #ff6f00;
                                }
                                .form-check-input[type=radio].with-gap:checked+label:after, .form-check-input[type=radio].with-gap:checked+label:before, .form-check-input[type=radio]:checked+label:after, label.btn input[type=radio].with-gap:checked+label:after, label.btn input[type=radio].with-gap:checked+label:before, label.btn input[type=radio]:checked+label:after{
                                    border: 2px solid #ff6f00;
                                }
                            }
                        }
						.line-register{
							margin-bottom: 15px;
						}
						.dropdown-content li{
							color: rgba(0,0,0,0.87);
						}
						label{
							margin-bottom: 0;
							color: rgba(0,0,0,0.87);
						}
						label.card-contato-label{
                            margin-bottom: 0 !important;
                            font-size: 12px;
						}
						a.link-footer-contato-card{
							margin-right: 15px;
							color: #FF6F00;
							font-family: $semibold;
						}
						.md-form{
							margin: 0;
						}
						.dropdown-content li>a, .dropdown-content li>span{
							color: #FF6F00;
						}
						.select-wrapper span.caret{
							right: 5px;
						}
						.select-wrapper input.select-dropdown{
							margin-top: 25px;
						}

						.accordion-toggle:after {
							float: right;
							content:"\f00d";
							color:#FF6F00;
							font-family:'FontAwesome';
						}
						.panel-heading.collapsed .accordion-toggle:after {
							content:"\f040";
						}
						.card-header{
							background-color: white;
							padding: 21px;
							border-bottom: none;
							a{
								color: rgba(0,0,0,0.87);
								h4{
									margin-bottom: 0;
									font-family: $semibold;
									font-size: 18px;
								}
								h5{
									margin-bottom: 0;
									font-family: $regular;
									font-size: 14px;
								}
							}
						}
						.card-body{
							background-color: white;
							padding: 0 21px 21px 21px;
						}
					}
				}
			}
			#paneResult{
				.accordion{
					.card-resultado{
						margin-bottom: 15px;
						.line-resultado{
							margin-bottom: 25px;
						}
						label{
							margin-bottom: 0;
							font-size: 14px !important;
						}
						label.card-resultado-label{
							margin-bottom: 0 !important;
							font-size: 14px !important;
						}
						a.link-footer-resultado-card{
							margin-right: 15px;
							margin-top: 50px;
							color: #FF6F00;
							font-family: $semibold;
						}
						.md-form{
							margin: 0;
						}
						.accordion-toggle:after {
							float: right;
							content:"\f00d";
							color:#FF6F00;
							/* symbol for "opening" panels */
							font-family:'FontAwesome';
						}
						.panel-heading.collapsed .accordion-toggle:after {
							/* symbol for "collapsed" panels */
							content:"\f040";
						}
						.card-header{
							background-color: white;
							overflow: hidden;
							border-bottom: none;
							padding: 21px;
							a{
								color: rgba(0,0,0,0.87);
								h4{
									margin-bottom: 0;
									font-family: $semibold;
									font-size: 18px;
								}
								i.social-share-resultado{
									position: relative;
									top: -19px;
									right: 25px;
									float: right;
									color: #FF6F00;
									cursor: pointer;
								}
								span.time-km{
									margin-bottom: 0;
									font-family: $regular;
									font-size: 16px;
									display: block;
									color: rgba(0,0,0	,0.37);
								}
								.more-infos-resultados{
									margin-bottom: 15px;
									display: block;
									width: 100%;
									span{
										float: left;
										margin-right: 28px;
										font-size: 14px;
										margin-top: 16px;
										strong{
											display: block;
										}
									}
								}
							}
						}
						.card-body{
							background-color: white;
							padding: 0 21px 21px 21px;
						}
					}
				}
				.add-marks{
					padding: 0;
					.slick-dots {
						display: flex;
						justify-content: center;
						margin: 0;
						padding: 1rem 0;
						bottom: -5px;
						position: absolute;
						left: 50%;
						transform: translateX(-50%);
						list-style-type: none;
                        li {
                            margin: 0 0.25rem;
                        }
                        button {
                            display: block;
                            width: 0.66rem;
                            height: 0.66rem;
                            padding: 0;
                            cursor: pointer;
                            border: none;
                            border-radius: 100%;
                            background-color:rgba(0, 0, 0, 0.18);
                            text-indent: -9999px;
                        }
                        li.slick-active button {
                            background-color: #FF6F00;
                        }
					}
					.add-mark{
						background: #E2E2E2;
						width: 100%;
						padding: 16px 21px 16px 21px;
						margin-bottom:  0px;
						border: 1px solid rgba(0,0,0,0.18);
						border-radius: 3px;
						position: relative;
						ul.slick-dots{
							bottom: 0;
							position: absolute;
							li{
								display: inline-block;
							}
						}
						span{
							display: block;
							color: rgba(0,0,0,0.87);
						}
						a.close-add{
							position: absolute;
							top: 0;
							right: 15px;
							color: rgba(0,0,0,0.54);
							&:focus > .add-mark{
								visibility:hidden;
							}
						}
						a{
                            color: #FF6F00;
                            margin-bottom: 15px;
                            display: block;
							font-family: "monradsemibold", sans-serif;
						}
					}
				}
			}
			#paneCertificados{
				.card-cert{
					position: relative;
					margin-bottom: 30px;
					border: 1px solid #E3E3E3;
					border-radius: 3px;
					background: white;
					.header-card-insc{
						padding: 25px;
						h3{
							color: rgba(0,0,0,0.87);
							font-family: $semibold;
							font-size: 20px;
						}
						span.date-card-insc{
							color: rgba(0,0,0,0.37);
						}
					}
					img.banner-insc{
						width: 100%;
						height: 200px;
						object-fit: cover;
					}
					.footer-card-insc{
						padding: 25px;
						p{
							strong.pedido-cancelado{
								color: #C0392B;
							}
							strong.pedido-confirmado{
								color: #329110;
							}
							strong.pedido-pendente{
								color: #D47B07;
							}
						}
						a{
							margin-right: 15px;
							color: #FF6F00;
							font-family: $semibold;
						}
					}
				}
			}
		}
    }
}