body#painel{
	label.label-insertphoto{
		display: flex;
		display: -webkit-flex; /* Safari */
		display: flex;
		-webkit-align-items: center; /* Safari 7.0+ */
		align-items: center;
		flex-direction: column;
		justify-content: center;
		width: 100%;
		height: 250px;
		margin-bottom: 0;
		background: #EAEAEA;
		span{
			font-family: $semibold;
		}
	}
	.excluirContato, .excluirResultado, .adicionarMarca, .modalSocial, .adicionarContato{
		.modal-header{
            border-bottom: none;
            padding-bottom: 0;
		}
		h5.modal-title{
			font-family: $semibold;
		}
		a.link-footer-contato-card, a.link-footer-resultado-card, a.link-footer-add-mark, button.link-footer-contato-card, button.link-footer-resultado-card, button.link-footer-add-mark {
			float: right;
			margin-left: 15px;
            color: #FF6F00;
            border: none;
            background: transparent;
			font-family: $semibold;
		}
		p{
			color: rgba(0,0,0,0.54);
		}
	}
	.adicionarContato{
		.name,.email{
			.md-form{
				margin-top: 0;
			}
		}
		.sexo{
			form.input-radios{
				margin-bottom: 25px;
				.form-check{
					display: inline-block;
					padding-left: 0;
					margin-right: 10px;
					.form-check-label{
						padding-left: 25px;
					}
					.form-check-input[type=radio].with-gap:checked+label:after, .form-check-input[type=radio]:checked+label:after, label.btn input[type=radio].with-gap:checked+label:after, label.btn input[type=radio]:checked+label:after{
						background-color: #ff6f00;
					}
					.form-check-input[type=radio].with-gap:checked+label:after, .form-check-input[type=radio].with-gap:checked+label:before, .form-check-input[type=radio]:checked+label:after, label.btn input[type=radio].with-gap:checked+label:after, label.btn input[type=radio].with-gap:checked+label:before, label.btn input[type=radio]:checked+label:after{
						border: 2px solid #ff6f00;
					}
				}
			}
		}
	}
	.adicionarMarca{
		h3{
			font-size: 16px;
			color: rgba(0,0,0,0.57);
			margin-bottom: 30px;
		}
		label.card-add-mark{
			margin-bottom: 0;
		}
		input{
			margin-top: -20px;
		}
	}
	.modalSocial{
		.modal-header{
			background: #E2E2E2;
            color: rgba(0, 0, 0, 0.67);
            margin: -2rem 1rem 0rem 1rem;
            .title{
                font-family: $bold;
            }
		}
		.modal-dialog{
			background: white;
		}
    }
    .detalhes-modal{
        ::-webkit-scrollbar {
            width: 5px;
            padding: 5px;
        }
        ::-webkit-scrollbar-track {
            background: #f1f1f1; 
        }
        ::-webkit-scrollbar-thumb {
            background: #888; 
            border-radius: 10px;
        }
        ::-webkit-scrollbar-thumb:hover {
            background: #555;
            border-radius: 10px;
        }
        .modal-header{
            border-bottom: 0;
             .close{
                color: white;
                padding: 0;
            }
        }
        .modal-content{
            background-color: transparent;
            box-shadow: none;
            .modal-body{
                padding: 0;
                background: white;
                border-radius: 3px;
                -webkit-box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
                box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
                img{
                    width: 100%;
                     border-radius: 3px 3px 0 0;
                }
                .left-bar{
                    padding: 15px;
                    h2{
                        font-family: $extrabold;
                         color: rgba(0,0,0,0.87);
                        font-size: 24px;
                    }
                    .name-event{
                        display: block;
                        font-size: 16px;
                        color: rgba(0,0,0,0.54);
                    }
                    .item-detalhe{
                        margin: 20px 0;
                        h4{
                            font-family: $bold;
                            font-size: 16px;
                            text-transform: uppercase;
                            margin-bottom: 0;
                        }
                        span{
                            display: block;
                            &.cancelado{
                                color: #EC1313;
                            }
                        }
                    }
                }
                .right-bar{
                    padding: 15px;
                    overflow-y: auto;
                    background: #fafafa;
                    border-left: 1px solid rgba(149, 152, 154, 0.3);
                    max-height: 400px;
                    h3{
                        font-family: $bold;
                        font-size: 16px;
                        margin-top: 20px;
                    }
                    .detalhe-label{
                        font-size: 12px;
                    }
                    .md-form{
                        margin-top: 1.25rem;
                        &.no-h4{
                            margin-top: 0.75rem;
                        }
                    }
                    .dropdown-content li>a, .dropdown-content li>span{
                        color: black;
                    }
                    a.save-detalhe{
                        color: #FF6F00;
                        font-family: $bold;
                    }
                }
            }  
        }
    }
}
