body#painel{
    @media screen and (max-width: 768px){
		section.content{
			.avatar-info-left{
				position: static;
				display: block;
				a.cam-edit-avatar{
					left: 20% !important;
				}
				img{
					display: block;
					margin: 0 auto;
				}
			}
			.content-middle{
				margin-top: 35px;
				.tab-content{
					padding-top: 34px;
				}
				form.editar-dados{
					a#back2{
						margin-top: 21px;
					}
				}
				#tabs-panel-menu{
					position: fixed;
					top: 45px;
					left: 0;
					min-width: 100%;
					background: white;
					z-index: 1000;
					white-space: nowrap; /* [1] */
					overflow-x: auto; /* [2] */
					-webkit-overflow-scrolling: touch; /* [3] */
					-ms-overflow-style: -ms-autohiding-scrollbar; /* [4] */
					&::-webkit-scrollbar{
						display: none;
					}
					ul.nav.nav-tabs{
						margin: 0 auto;
						padding-left: 0px;
						background: white;
						padding-right: 0px;
						padding-top: 10px;
						width: 1000%;
						height: 40px;
						max-width: 530px;
						li{
							float: none;
							white-space: nowrap; /* [1] */
							margin-left: 15px;
							height: 100%;

							margin-right: 15px;
							&:first-child{
								margin-left: 30px;
							}
							&:last-child{
								margin-right: 30px;
							}
						}
						.nav-link{
							margin-right: 0px;
							font-size: 15px;
							padding-bottom: 5px;
						}
						.nav-link.active{
							background: white;
							border-bottom: 3px solid #FF6F00;
						}
					}
				}
				#paneInsc{
					form.input-radios{
						.radio{
							margin-right: 10px;
							.radio-label{
								font-size: 13px;
								&:before{
									margin-right: 5px;
									width: 1.25em;
									height: 1.25em;
								}
							}
						}
					}
                }
                #paneResult{
                    .add-marks{
                        .add-mark{
                            margin-right: 20px;
                            &:last-child{
                                margin-right: 0px;
                            }
                        }
                    } 
                }
                #paneAjuda{
                    .help-chat-right{
                        margin-top: 20px;
                        max-width: 100%;
                    }
                }
			}
        }
        .detalhes-modal{
            top: 85px;
            &.show ~ .modal-backdrop{
                display: none;
            }
            .modal-header{
                display: none;
            }
            .modal-dialog{
                margin: 0;
            }
            .left-bar{
                .close{
                    opacity: 1;
                    float: left;
                    width: 100%;
                    margin-bottom: 10px;
                    display: block;
                    i{
                        color: #FF6F00;
                        display: block;
                        width: 100%;
                        :before{
                            float: left;
                        }
                        &.fa-long-arrow-left:before{
                            float: left;
                        }
                    }
                }
            }
            .right-bar{
                padding: 15px !important;
                overflow-y: auto  !important;
                background: #fafafa  !important;
                border-left: 0px solid rgba(149, 152, 154, 0.3)  !important;
                border-top: 0px solid rgba(149, 152, 154, 0.3)  !important;
                max-height: 100% !important;
                .modal-body{
                    border-radius: 0px !important;
                }
            }
         }
	}
}