
body#painel{
	section.content{
		.help-chat-right{
			position: fixed;
			margin-top: 60px;
			max-width: 256px;
			h4{
				margin-top: 25px;
				text-transform: uppercase;
				font-family: $bold;
				font-size: 14px;
			}
			ul{
				padding: 0;
				list-style-type: none;
				li{
					margin: 20px 0px;
					a{
                        margin-bottom: 10px;
						display: block;
						color: rgba(0,0,0,0.54);
						&:hover{
							 color: #FF6F00;
						}
					}
				}
			}
			span{
				a{
					color: #FF6F00;
				}
			}
			.chatonline{
				display: block;
				margin-bottom: 30px;
				text-transform: uppercase;
				color: white;
				background-color: #FF6F00;
				font-family: $bold;
				font-size: 14px;
				margin: 0;
				margin-top: 20px;
			}
		}
	}
}