body#calendar{
	background: #f8f8f8;
	.banner{
	position: relative;
	section.banner-calendar{
		background-position: center center;
		background-repeat: no-repeat;
		background-size: cover;
		background-color: black;
		.slide{
		width: 100%;
		height:620px;
		&.slide--1{
			content: '';
			background-image: url(../img/calendario/fotoBanner1.png);
		}
		&.slide--2{
			content: '';
			background-image: url(../img/calendario/fotoBanner2.png);
		}
		&.slide--3{
			content: '';
			background-image: url(../img/calendario/fotoBanner3.png);
		}
		&.slide--4{
			content: '';
			background-image: url(../img/calendario/fotoBanner4.png);
		}
		
		}
	}
	.text-center{
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%,-50%);
		color: white;
		h3{
		font-family: $extrabold;
		margin-bottom: 15px;
		font-size: 20px;
		}
		h4{
		margin-top: 15px;
		font-size: 16px;
		}
	}
	}
	.search{
        margin-top:-32px;
        position: absolute;
        z-index: 10;
		width: 100%;
		.col-md-12{
			padding: 0;
			input[type="text"] {
				width: 100%;
				margin: 0 auto;
				display: block;
				border-radius: 5px;
				border: none;
				padding: 20px 300px 20px 50px;
				-webkit-box-shadow: 0 0 0px 1000px white inset;

                position: relative;
                &:focus{
                    outline:none !important;
                }
			}
			i{
				position: absolute;
				top: 24px;
				left: 25px;
				font-size: 15px;
				color: rgba(0,0,0,0.37);
            }
            input[type="date"]{
                height: 25px;
				position: absolute;
				cursor: pointer;
                top: 20px;
                padding-left: 30px;
				right:65px;
				color: rgba(0,0,0,0.37);
				background: white;
				border: 0;
                -webkit-appearance: none;
                &:before{
                    content: 'A partir de:';
                    margin-right: 5px;
                    color: rgba(0,0,0,0.54);
                    cursor: pointer;
                }
                &:focus{
                    outline:none !important;
                }
            }
            input::-webkit-inner-spin-button, input::-webkit-clear-button {
                display: none;
            }
            input::-webkit-calendar-picker-indicator {
                color: rgba(0, 0, 0, 0);
                position: absolute;
                left: 0;
                border: none;
                cursor: pointer;
                opacity: 1;
                display: block;
                background: url(../img/svg/date.svg) no-repeat;
                opacity: 0.54;
                width: 80px;
                height: 20px;
                border-width: thin;
            }
			input[type="submit"] {
				height: 25px;
				position: absolute;
				cursor: pointer;
				top: 20px;
				right:25px;
				font-family: FontAwesome;
				color: rgba(0,0,0,0.37);
				background: transparent;
				border: 0;
				-webkit-appearance: none;
			}
			#eac-container-tickeagorasearch{
				background: white;
                margin: 0px 0px;
                width: 100%;
				border-radius: 0px 0px 5px 5px;
				box-shadow: 0 .125rem .25rem rgba(0,0,0,.075)!important;
				ul{
					padding: 0; 
					li{
						list-style-type: none;
						padding: 20px 20px 20px 50px;
						cursor: pointer;
					}
				}
			}
		}

	}
	.radio-options{
	margin-top: 55px;
	.form-check-input[type=radio].with-gap:checked+label:after, .form-check-input[type=radio]:checked+label:after, label.btn input[type=radio].with-gap:checked+label:after, label.btn input[type=radio]:checked+label:after{
		background-color: #FF6F00;
		color: #fff;
	}
	.form-check-input[type=radio]+label{
		padding-right: 20px;
		padding-top: 3px;
	}
	.form-check-input[type=radio].with-gap:checked+label:after, .form-check-input[type=radio].with-gap:checked+label:before, .form-check-input[type=radio]:checked+label:after, label.btn input[type=radio].with-gap:checked+label:after, label.btn input[type=radio].with-gap:checked+label:before, label.btn input[type=radio]:checked+label:after{
		border: 2px solid #FF6F00;
	}
	.form-check-input[type=radio]+label:after, .form-check-input[type=radio]+label:before, label.btn input[type=radio]+label:after, label.btn input[type=radio]+label:before{
		width: 20px;
		height: 20px;
	}
	}
	.line-events{
		.col-md-4{
            &:focus{
                outline:none;
            }
        }
		.title-seemore{
			width: 100%;
            		margin-top: 20px;
            		margin-bottom: -30px;
			h2{
				font-size: 18px;
				color: #000000;
				font-family: $bold;
				margin-top: 28px;
				display: inline-block;
				margin-bottom: 15px;
			}
			a{
				margin-top: 28px;
				font-family:$semibold;
				font-size: 14px;
				text-decoration: underline;
				color: #FF6F00;
			}	
		}
		.open-event-btn{
			color: white;
			background-color: #FF6F00;
			font-family: $bold;
			font-size: 14px;
			text-transform: uppercase;
			margin: 0 auto;
			display: block;
			margin-bottom: 35px;
			margin-top: 35px;
		}
	}
	.filter-category{
		background: url("../img/svg/calendarioPattern.svg") top left repeat-y,url("../img/svg/calendarioPattern2.svg") top right repeat-y,#DADADA;
        padding-bottom: 50px;
        margin-top: 54px;
		h4{
		font-family: $bold;
		padding: 0;
		margin: 0;
		font-size: 15.8px;
		text-align: center;
		margin-top: 36px;
		margin-bottom: 10px;
		display: block;
        }
        .tags{
            text-align: center;
            a{
                color: #686868;
                border: 2px solid #686868;
                margin: 5px;
                border-radius: 25px;
                padding: 5px 10px;
                text-align: center;
                display: inline-block;
                &:hover{
                    background: #686868;
                    color: #DADADA;
                }
            }
        }

		.btn-more{
			color: white;
			background-color: #FF6F00;
			font-family: $bold;
			font-size: 14px;
			text-transform: uppercase;
			margin: 0 auto;
            display: block;
            margin-top: -24px;
		}
	}
}

@media screen and (max-width: 1366px) {
	body#calendar {
	}
}
@media screen and (max-width: 768px) {
	body#calendar {
		.banner{
			section.banner-calendar{
				.slide{
					width: 100%;
					height: auto;
					min-height: 260px;
					padding: 30px 0;
				}
			}
			.text-center{
				margin-top: 10px;
			}
		}
		.search{
			width: calc(100% - 30px);
            margin-left: 15px;

            input[type="date"]{
                right: 25px !important;
                &:before{
                    content: '' !important;
                }
            }
            input::-webkit-calendar-picker-indicator {
                color: rgba(0, 0, 0, 0);
                position: absolute;
                left: 0;
                border: none;
                cursor: pointer;
                opacity: 1;
                display: block;
                background: url(../img/svg/date.svg) no-repeat;
                opacity: 0.54;
                width: 80px;
                height: 20px;
                border-width: thin;
            }
			input[type="text"]{
                padding: 20px 50px 20px 50px !important;
			}
		}
		.radio-options{
			padding: 0px 15px;
		}
		.line-events{
			.no-padding{
				padding: 15px !important;
				padding: 15px !important;
			}
			.open-event-btn{
				margin-top: 10px;
			}
			.title-seemore{
				margin-top: 0;
			}
			.more-events-item{
				margin-bottom: 5px;
			}
		}
		.open-event{
			.specs{
				img{
					margin-left: 0px;
				}
			}
		}
		.filter-category{
			background: #DADADA !important;
		}
	}
}