body#central{
	background: #F8F8F8;
	section.banner{
		background: url(../img/home/bg.jpg) no-repeat bottom center fixed; 
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
		overflow: hidden;
		height: 50vh;
		position: relative;
		width: 100%;
	}
	section.content{
        background: linear-gradient(rgba(248,248,248,.95), rgba(248,248,248,.95)), url(../img/funcionalidades/patternFuncionalidades1.svg) bottom left no-repeat, url(../img/funcionalidades/patternFuncionalidades2.svg) bottom right no-repeat;
        background-size: 350px;
		padding-bottom: 50px;
		.container{
            position: relative;			
            img.img-underbanner{
				width: 100%;
				padding: 50px;
				position: absolute;
				z-index: 55 !important;
				top: -12.5vh;
			}
			.white-box{
				background: white;
				border-radius: 8px;
				overflow: hidden;
				min-height: 500px;
				position: relative;
				z-index: 50;
				margin-top: -25vh;
                padding: 50px;
                &.quemsomos-whitebox{
                    padding: 50px 50px 370px 50px !important;
                }
				h3{
					margin-top: 170px;
					font-size: 18px;
					font-family: $bold;
                }
                h4{
                    font-family: $bold;
                    font-size: 15.4px;
                    position: relative;
                    z-index: 1;
                    img.icon{
                        max-width: 45px;
                        width: 100%;
                        margin-right: 15px;
                    }
                    &:before {
                        border-top: 2px solid #dfdfdf;
                        content:"";
                        margin: 0 auto; /* this centers the line to the full width specified */
                        position: absolute; /* positioning must be absolute here, and relative positioning must be applied to the parent */
                        top: 45%;  
                        right: 0; 
                        width: calc(100% - 170px);
                        z-index: -1;
                    }
                }			
                ul{
                    padding: 0px;
                    li{
                        margin: 15px 0;
                        list-style-type: none;;
                        &::before{
                            content: "• ";
                            margin-right: 5px;
                            font-size: 22px;
                            color: #FF6F00;
                        }
                    }
                }
				#iframe{
					background: grey;
					height: 600px;
					width: 100%;
                }
                p.yellow-bg{
                    background: #fff6df;
                    padding: 20px;
                }
            }
            section.video{
                margin-top: -400px;
                position: relative;
                z-index: 950;
                span.span-video{
                    display: block;
                    text-align: center;
                    font-family: $extrabold;
                    margin-top: 50px;
                    margin-bottom: 10px;
                    font-size: 17.4px;
                }
                .embed-container { 
                    position: relative;
                    padding-bottom: 56.25%; 
                    height: 0; 
                    overflow: hidden; 
                    max-width: 100%; 
                    margin-top: 25px;
                } 
                .embed-container iframe, .embed-container object, .embed-container embed { 
                    position: absolute; 
                    padding: 0px 35px;
                    top: 0; 
                    left: 0; 
                    width: 100%; 
                    height: 100%; 
                }
                .nossasmarcas{
                    h2{
                        font-size: 18px;
                        color: #000000;
                        font-family: $bold;
                        margin-top: 28px;
                        margin-bottom: 0;
                        display: inline-block;
                    }
                    article{
                        margin: 25px 0;
                        img{
                            max-width: 100%;
                            margin-bottom: 5px;
                            display: block;
                        }		
                    }
                }
                img.brand{
                    margin: 0 auto;
                    display: block;
                }
                span.pos-vid{
                    display: block;
                    text-align: center;
                    font-family: $semibold;
                    padding: 30px 0;
                    font-size: 16.5px;
                }
                .vid-brands{
                    display: -webkit-box;
                    display: -webkit-flex;
                    display: -moz-box;
                    display: -ms-flexbox;
                    display: flex;
                    -webkit-flex-align: center;
                    -ms-flex-align: center;
                    -webkit-align-items: center;
                    align-items: center;
                    width: 100%;
                    margin-bottom: 30px;
                    img{
                        display: block;
                        margin: 0 auto;
                    }
                }
            }
		}
	}
}
@media screen and (max-width: 990px){
	body#central{
		section.banner{
			height: 20vh !important;
		}
		section.content{
			.container{
				.white-box{
					border-radius: 0px !important;
					margin-top: 0 !important;
					h3{
						margin-top: 0px !important;
					}			
				}
				img.img-underbanner{
					width: 100% !important;
					padding: 0px !important;
					position: relative !important;
					z-index: 55 !important;
					top: 0 !important;
				}
			}
		}
	}
}
@media screen and (max-width: 768px){
	body#central{
		section.banner{
			display: none;
		}
		section.content{
			padding-bottom: 0 !important;
			.container{
				.white-box{
					border-radius: 0px !important;
					margin-top: 0 !important;
                    padding: 15px !important;
                    &.quemsomos-whitebox{
                        padding: 15px !important;
                        p.yellow-bg{
                            margin-left: -15px;
                            margin-right: -15px;
                        }
                        h4{
                            margin-top: 30px;
                        }
                    }
					h3{
						margin-top: 0px !important;
					}			
                }
                section.video{
                    margin-top: 0px;
                    padding-bottom: 25px;
                    background: white;
                    span.span-video{
                        margin-top: 0;
                        br{
                            display: none;
                        }
                    }
                    span.pos-vid{
                        padding: 30px 0 0 0;
                    }
                    img.brand{
                        margin-top: 15px;
                        margin-bottom: 15px;
                    }
                    .embed-container{
                        iframe{
                            padding: 0;
                        }
                    }
                }
				img.img-underbanner{
					width: 100% !important;
					padding: 0px !important;
					position: relative !important;
					z-index: 55 !important;
					top: 0 !important;
					margin-top: 45px;
				}
			}
		}
	}
}
@media screen and (max-height: 900px){
    body#central{
        section.content{
            .container{
                img.img-underbanner{
                    width: 100%;
                    padding: 50px;
                    position: absolute;
                    z-index: 55 !important;
                    top: calc(-12.5vh - 10px);
                }
            }
        }
    }
}






