body#central{
	background: #F8F8F8;
	section.banner{
		background: url(../img/home/bg.jpg) no-repeat bottom center fixed; 
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
		overflow: hidden;
		height: 50vh;
		position: relative;
		width: 100%;
	}
	section.content{
        background: linear-gradient(rgba(248,248,248,.95), rgba(248,248,248,.95)), url(../img/funcionalidades/patternFuncionalidades1.svg) bottom left no-repeat, url(../img/funcionalidades/patternFuncionalidades2.svg) bottom right no-repeat;
        background-size: 350px;
		padding-bottom: 50px;
		.container{
			position: relative;
			.white-box{
				background: white;
				border-radius: 8px;
				overflow: hidden;
				min-height: 500px;
				position: relative;
				z-index: 50;
				margin-top: -25vh;
				padding: 50px;
				h3{
					margin-top: 170px;
					font-size: 18px;
					font-family: $bold;
				}			
				#iframe{
					background: grey;
					height: 600px;
					width: 100%;
				}
			}
			img{
				width: 100%;
				padding: 50px;
				position: absolute;
				z-index: 55 !important;
				top: -12.5vh;
			}
		}
	}
}
@media screen and (max-width: 990px){
	body#central{
		section.banner{
			height: 20vh !important;
		}
		section.content{
			.container{
				.white-box{
					border-radius: 0px !important;
					margin-top: 0 !important;
					h3{
						margin-top: 0px !important;
					}			
				}
				img{
					width: 100% !important;
					padding: 0px !important;
					position: relative !important;
					z-index: 55 !important;
					top: 0 !important;
				}
			}
		}
	}
}
@media screen and (max-width: 768px){
	body#central{
		section.banner{
			display: none;
		}
		section.content{
			padding-bottom: 0 !important;
			.container{
				.white-box{
					border-radius: 0px !important;
					margin-top: 0 !important;
					padding: 15px !important;
					h3{
						margin-top: 0px !important;
					}			
				}
				img{
					width: 100% !important;
					padding: 0px !important;
					position: relative !important;
					z-index: 55 !important;
					top: 0 !important;
					margin-top: 45px;
				}
			}
		}
	}
}







