// width page
.container,.container-fluid{
	max-width: 960px;
}

// font-awesome full-width
.fa-fw{
	width:16px;
	text-align: center;
}

// cancel padding
.no-padding{
	padding-left: 0 !important;
	padding-right: 0 !important;
}

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 30px white inset;
}
input:-webkit-autofill,
textarea:-webkit-autofill,
select:-webkit-autofill {
    -webkit-text-fill-color: #000;
    -webkit-box-shadow: 0 0 0px 1000px #FFF inset;
}


// yellow-borders
.yellow-border{
	border-bottom: 5px solid #F3BD22;
	width: 64px;
	height: 5px;
	content: "";
	margin-bottom: 15px;
}
.yellow-border-center{
	border-bottom: 5px solid #F3BD22;
	width: 64px;
	height: 5px;
	content: "";
	margin-bottom: 15px;
	display: block;
	margin: 0 auto;
}
.md-form{
    input[type=text]:focus:not([readonly]),
    input[type=password]:focus:not([readonly]),
    input[type=email]:focus:not([readonly]),
    textarea.md-textarea:focus:not([readonly]) {
        border-bottom: 1px solid #FF6F00;
        box-shadow: 0 1px 0 0 #FF6F00;
    }
    input:focus + label {
        color: #FF6F00;
    }
}


// card ticket
.more-events-item{
	height: auto;
	border-radius: 4px;
	background: white;
	overflow: hidden;
	margin-top: 30px;
	position: relative;
	img.thumb-event{
		width: 100%;
		height: 130px;
		-o-object-fit: cover;
			object-fit: cover;
	}
	.hover-see-more{
		width: 100%;
		opacity: 0;
		height: 130px;
		background: rgba(255,111,0,0.87);
		position: absolute;
		top: 0;
		border-radius: 4px 4px 0px 0px;
		transition: all 0.28s ease;
		a.saibamais{
			color: white;
			font-family: $semibold;
			border-radius: 40px;
			padding: 5px 15px;
			border:1px solid white;
			top: 50%;
			left: 50%;
			position: absolute;
			transform: translate(-50%, -50%);
			&:hover{
				color:  rgba(255,111,0,0.87);
				background: white;
			}
		}
		a.share{
			color: white;
			position: absolute;	
			top: 10px;
			right: 10px;
			
			i{
				font-size: 30px;
				color: white;
				right: 0;
				top: 0;
			}
		}
		.heart-check-box{
			position: absolute;
			top: -5px;
			right: 45px;
			$heart: "\f004";
			$openheart: "\f08a";
			@mixin checkmark($size) {
				content: $openheart;
				font-family: FontAwesome;
				font-size: $size;
			}
			@mixin box-style($size) {
				position: absolute;
				width: 1.05*$size;
				height: $size;
				margin-top: 0;
				margin-left: -30px;
				content: "";
			}
			@mixin no-select {
				-webkit-user-select: none;
				-moz-user-select: none;
				-ms-user-select: none;
				user-select: none;
				-webkit-touch-callout: none;
				-khtml-user-select: none;
			}
			.red-heart-checkbox {
				visibility: hidden;
				$primary: white;
				$secondary: white;
				$size: 30px;
				& + label {
					padding-left: 0.5*$size;
					transition: all 0.2s;
					font-size: $size;
					@include no-select;
				}
				&:checked + label:before {
					content: $heart;
					cursor: pointer;
					color: $primary;
				}
				& + label:before {
					cursor: pointer;
					transition: all 0.3s;
					color: $secondary;
					@include box-style($size);
					@include checkmark($size);
				}
			}
		}
	}
	.text-box-more-events{
		padding: 12px 13px;
		transition: all 0.28s ease;
		h3{
			font-family: $semibold;
			font-size: 15.4px;
			color: rgba(0,0,0,0.87);
			height: 34px;
			display: -webkit-box;
			-webkit-line-clamp: 2;
			overflow: hidden;
			text-overflow: ellipsis;
			-webkit-box-orient: vertical;
		}
		span{
			margin-left: 5px;
			font-size: 14px;
			color: rgba(0,0,0,0.54);
		}
		i{
			color: rgba(0,0,0,0.54);
		}
	}
	&:hover{
		.hover-see-more{
			opacity: 1;
			transition: all 0.28s ease;
		}
		span,i{
			transition: all 0.28s ease;
			color: rgba(0,0,0,1);
		}
	}
	button{
		border: none;
		position: absolute;
		top: 10px;
		right: 10px;
		border-radius: 4px;
		background: white;
		height: 35px;
		width: 18px;
		padding-left: 3px;
		i{
			color: rgba(0,0,0,0.87);
		}
		i.dots:after {
			content: '\2807';
			font-size: 26px;
			margin-right: -7px;
			font-style: normal;
		}
	}
	@-webkit-keyframes open{
		0%{
			opacity: 0;
			transform: scale(0);
		}
		100%{
			opacity: 1;
			transform: scale(1);
		}
	}
	@-moz-keyframes open{
		0%{
			opacity: 0;
			transform: scale(0);
		}
		100%{
			opacity: 1;
			transform: scale(1);
		}
	}
	@-o-keyframes open{
		0%{
			opacity: 0;
			transform: scale(0);
		}
		100%{
			opacity: 1;
			transform: scale(1);
		}
	}
	@keyframes open{
		0%{
			opacity: 0;
			transform: scale(0);
		}
		100%{
			opacity: 1;
			transform: scale(1);
		}
	}
	.dropdown-menu{
		border: 1px solid rgba(0,0,0,.1);
		opacity: 0;
		transform: scale(0);
		transform-origin: 0 0;
		will-change: transform, opacity;
		transition: transform .3s cubic-bezier(.4, 0, .2, 1), opacity .2s cubic-bezier(.4, 0, .2, 1);
		&.show{
			animation-name: open;
			animation-duration: .3s;
			animation-fill-mode: forwards;
			animation-timing-function: cubic-bezier(.4, 0, .2, 1);
		}
	}
	.dropdown-menu.dropdown-menu-right,.dropdown-menu{
		transform-origin: 100% 0;
		right: 10px !important;
		left: initial !important;
		top: 45px !important;
	}	
}
@media screen and (max-width: 768px){
	.more-events-item{
		.hover-see-more{
			display: none;
		}
	}
}


// validate global
.md-form{
	input{
		&.valid{
			width: 100%;
		}
		&.invalid{
			width: 100%;
		}
	}
}




