// animations 
@-webkit-keyframes fadeInUpEventos{
    0%{
        opacity: 0;
        margin-top:50px;
    }
    100%{
        opacity: 1;
        margin-top: 0;
    }
}
@-moz-keyframes fadeInUpEventos {
    0%{
        opacity: 0;
        margin-top:50px;
    }
    100%{
        opacity: 1;
        margin-top: 0;
    }
}
@-o-keyframes fadeInUpEventos {
    0%{
        opacity: 0;
        margin-top:50px;
    }
    100%{
        opacity: 1;
        margin-top: 0;
    }
}
@keyframes fadeInUpEventos {
    0%{
        opacity: 0;
        margin-top:50px;
    }
    100%{
        opacity: 1;
        margin-top: 0;
    }
}
@-webkit-keyframes fadeInEventos{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
@-moz-keyframes fadeInEventos {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
@-o-keyframes fadeInEventos {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
@keyframes fadeInEventos {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
body#evento{
	background: #EAEAEA;
	.banner{
		position: relative;
		width: 100%;
		overflow:hidden;
		padding-top: 110px;
		.backgroundimg{
			background: url(../img/evento/banner.jpg);
			background-repeat: no-repeat;
			background-size: cover;
			width: 100%;
			height: 100%;
			position: absolute;
			content: '';
			-webkit-filter: blur(5px);
			filter: blur(5px);
			-moz-filter: blur(5px);
			-o-filter: blur(5px);
			-ms-filter: blur(5px); /* IE 9 */
			-webkit-transform: scale(2, 3); /* Safari */
			transform: scale(2, 3);
		}
		.container{
			.row{
				.col-md-12{
					padding-right: 0px;
					padding-left: 0px;
					img{
						width: 100%;
						border-radius: 4px 4px 0px 0px;
						-webkit-animation: fadeInUpEventos 1s;
						-moz-animation:    fadeInUpEventos 1s;
						-o-animation:      fadeInUpEventos 1s;
						animation:         fadeInUpEventos 1s;
					}
				}
			}
		}
	}
	.content{
		-webkit-animation: fadeInEventos 1s;
		-moz-animation:    fadeInEventos 1s;
		-o-animation:      fadeInEventos 1s;
		animation:         fadeInEventos 1s;
		position: relative;
		.left-bar{
			background: white;
			padding: 25px;
			h1{
				color: #000000;
				font-size: 21px;
				font-family: $extrabold;
				margin-bottom: 0;
			}
			.minimal-infos-event{
				.minimal-infos-event-item{
					margin-top: 15px;
					color: rgba(0,0,0,0.38);
					display: block;
					span{
						font-size: 14px;
						font-family: $regular;
						margin-left: 5px;
					}
				}
			}
			.content-text-event{
				font-size: 16px;
				span{
					color: #000000;
					font-family: $bold;
					border-bottom: 5px solid #F3BD22;
					margin-top: 21px;
					display: inline-block;
				}
				p{
					color: rgba(0,0,0,0.87);
					font-family: $regular;
					margin: 15px 0 0 0;
					display: inline-block;
					a{
						color: rgba(255,111,0,0.87);
					}
                }
                img,iframe{
                    display: block;
                    max-width: 100%;
                }
			}
			.event-image{
				overflow: hidden;
				display: inline-block;
				max-width: 100%;
				margin-top: 21px;
				img{
					display: block;
					max-width: 100%;
				}
				span{
					margin-top: 5px;
					font-size: 12px;
					color: rgba(0,0,0,0.54);
					text-align: center;
					display: block;
				}
			}
		}
		.right-bar{
			padding: 25px;
			background: #FAFAFA;
			position: relative;
			order: 2;
			.fluid-area-right-bar{
				position: -webkit-sticky;
				position: -moz-sticky;
				position: -ms-sticky;
				position: -o-sticky;
				position: sticky;
				top: 85px;
				.mininfo{
					color: rgba(0,0,0,0.87);
					margin-bottom: 28px;
					span{
						font-family: $bold;
						text-transform: uppercase;
						margin-bottom: 15px;
					}
					p{
						font-family: $regular;
						font-size: 14px;
						margin: 0;
                    }
                    a{
                        color: rgba(0,0,0,0.87);
                    }
					.left-bar-btn{
						color: white;
						background-color: #FF6F00;
						font-family: $bold;
						font-size: 14px;
						text-transform: uppercase;
						margin: 21px 0 0 0;
					}
					.morelinks{
						a{
							color: rgba(255,111,0,0.87);
							display: block;
							font-size: 14px;
							font-family: $semibold;
							margin: 21px 0;
							&:hover{
								color: rgba(255,111,0,1);

							}
						}
					}
					.social-right-bar{
						ul{
							overflow: hidden;
							padding: 0;
							margin-top: 10px;
							li{
								display: inline-block;
								width: 36px;
								height: 36px;
								margin-right: 15px;
								a{
									content: '';
								}
							}
						}
					}
				}
			}
		}
		#mapa-cont{
			width: calc(100% + 30px);
			height: 325px;
			margin-left: -15px;
			margin-right: -15px;
		}
		.infos-organizador{
			background: white;
			text-align: center;
			padding: 28px 25px 25px 25px;
			border-radius: 0px 0px 4px 4px;
			width: calc(100% + 30px);
			margin-left: -15px;
			margin-right: -15px;
			.name-organizador{
				font-size: 12px;
				display: block;
				margin-bottom: 15px;
				span.name-org{
					font-family: $bold;
					font-size: 16px;
					display: block;
					text-transform: uppercase;
				}
			}
			.infos-organizador-dados{
				span{
					display: block;
                }
                a{
                    color: rgba(0, 0, 0, 0.87);
                }
			}
			.social-mobile{
				margin-bottom: 25px;
				span{
					text-transform:  uppercase;
					text-align: center;
					color: rgba(40,38,38,0.87);
					font-size: 16px;
					font-family: $bold;
					display: block;
					margin-bottom: 15px;
				}
				ul{
					list-style-type: none;
					padding: 0;
					li{
						width: 36px;
						height: 36px;
						display: inline-block;
						margin-right: 15px;
					}
				}
			}
		}
		.bg-color-bottom{
			position: absolute;
			background-color: rgba(0,0,0,0.06);
			bottom: 0;
			z-index: -999;
			width: 100%;
			height: 90px;
		}
	}
	.more-events{
		padding-bottom: 35px;
		background: rgba(0,0,0,0.06);
		h2{
			font-family: $bold;
			font-size: 14px;
			text-align: center;
			display: block;
            margin-top: 30px;
            margin-bottom: 0;
		}
		.col-md-4{

			&:first-child{
				padding-right: 30px;
				padding-left: 0px;
			}
			&:last-child{
				padding-left: 30px;
				padding-right: 0px;
			}
		}
	}
	.mobile-fixed-bottom-bar{
		position: fixed;
		bottom: 0;
		width: 100%;
		background: white;
		padding: 10px;
		span{
			width: 50%;
			margin-top: 0.375rem;
			float: left;
			line-height: 1.25;
			color: rgba(40,38,38,0.87);
		}
		button.btn{
			float: right;
			color: white;
			background-color: #FF6F00;
			font-family: $bold;
			font-size: 14px;
			padding: 10px 20px;
			text-transform: uppercase;
		}
	}
}
@media screen and (max-width: 768px){
    body#evento{
        .banner{
			padding-top: 59px;
			.container{
				.row{
					.col-md-12{
						img{
							border-radius: 0px 0px 0px 0px;
							-webkit-animation: none !important;
							-moz-animation:    none !important;
							-o-animation:      none !important;
							animation:         none !important;
						}
					}
				}
			}
		}
		.content{
			.infos-organizador{
				border-radius: 0px 0px 0px 0px;
			}
		}
		.more-events{
			.col-md-4{
				&:first-child{
					padding-right: 15px;
					padding-left: 15px;
				}
				&:last-child{
					padding-left: 15px;
					padding-right: 15px;
				}
			}
		}
		footer{
			padding: 28px 28px 88px 0px !important;
		}
    }
}
