// footer
footer{
	background: #202020;
	padding: 28px;
	.footer-col-item{
		margin-left: -15px;
		span{
			color: rgba(255,255,255,0.87);
			font-family: $bold;
			font-size: 16px;
			display: block;
			margin-bottom: 10px;
				text-transform: uppercase;
		}
		ul{
			padding: 0;
			list-style-type: none;
			font-family: $regular;
			font-size: 14px;
			li{
				a{
					color: rgba(255,255,255,0.54);
					&:hover{
						color: rgba(255,255,255,0.87	);
					}
				}
			}
		}
		ul.footer-social{
			width: 100%;
			li{
				display: inline-block;
				height: 25px;
				margin-right: 20px;
				i{
					font-size: 20px;
				}
			}
		}
	}
}
@media screen and (max-width: 768px){
	footer{
		padding: 28px 28px 28px 0px;
		.footer-col-item{
			margin-left: 0;
		}
	}
}