body#funcionalidades{
	background: #F8F8F8;
	overflow-x: hidden;
	section.prefuc{
		height: 90vh;
		width: 100%;
		background: url(../img/funcionalidades/banner.jpg);
        background-size: cover;
        background-repeat:no-repeat;
        background-position: center center;
		color: white;
		text-align: center;
		.center-text-prefuc{
			padding-top: 25vh;		
			span.first-text{
				display: block;
				padding-bottom: 10px;	
				max-width: 305px;
				margin: 0 auto;
				display: block;
				font-family: $extrabold;
				font-size: 24px;
			}
			span.text-func{
				padding-top: 10px;
				max-width: 305px;	
				margin: 0 auto;
				display: block;
			}
		}
	}
	section.functions{
		width: 100%;
		.container{
			position: relative;
			background: white;
			margin-top: -25vh;
			border-radius: 8px;
			span.first-text-top{
                font-size: 17.4px;
                font-family: $extrabold;
				padding: 20px 20px 20px 20px;
				display: block;
				width: calc(100% - 30px);
				text-align: center;
			}
			.title-space{
				height: 90px;
				position: relative;
				width: calc(100% + 30px);
				margin-left: -15px;
				margin-bottom: 20px;
				h2{
					position: relative;
					font-size: 30px;
					z-index: 1;
					overflow: hidden;
					text-align: center;
					font-size: 16px;
					font-family: $bold;
					color: rgba(0,0,0,0.87);
					margin-top: 45px;
					&.centre-line{
						text-align: center;
						position: absolute;
						top: 0;
						left: 50%;
						width: calc(100% + 30px);
						transform: translate(-50%, -50%);
						span{
							background-color: white;
							padding: 0 50px;
                            text-align: center;
                                font-size: 18.4px;
							display: inline-block;
						}
						&:before{
							content:'';
							position: absolute;
							width: calc(100% + 30px);
							height: 2px;
							top: 50%;
							left: 0;
							z-index: -1;
							background: #F3BD22;
						}
					}
				}
			}			
			.slider1,.slider2,.slider3,.slider4{
				margin: 0 !important;
				margin-bottom: 50px;
            }
            .col-md-4{
                &:focus{
                    outline: none;
                }
            }
			.whitebox-func{
				background: white;
				display: flex;
				justify-content: center;
				align-item: center;
				padding: 20px 25px;
				flex-direction: column;
				text-align: center;
				border-radius: 5px;
				margin-bottom: 30px;
				min-height: 230px;
				color: rgba(0,0,0,0.87);

				img{
					display: block;
					margin: 0 auto;
					max-width: 60px;
					width: 100%;
					margin-bottom: 20px;
				}
            }
            .end-function{
                background: url(../img/funcionalidades/perfilConsumidor.jpg);
                background-size: cover;
                background-repeat:no-repeat;
                background-position: bottom center;
                margin: 0px  -15px;
                border-radius: 0px 0px 8px 8px;
                color: white;
                h2{
                    padding-left: 30px;
                    padding-top:45px;
                    font-family: $extrabold;
                    font-size: 20.4px;
                }
                .yellow-border{
                    margin-left: 30px;
                }
                p{
                    padding-left: 30px;
                    margin-bottom: 30px;
                    &:last-child{
                        margin-bottom: 45px;
                    }
                }
                img.rede-connect{
                    margin-left: 15px;
                    margin-top: 60px;
                    margin-right: 15px;
                    width: calc(100% - 30px);
                }
            }
		}
	}
	section.perfil{
		background: url(../img/funcionalidades/Group-579@2x.png) no-repeat right center; 
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
		overflow: hidden;
		background-color: white;
		position: relative;
		width: 100%;
		padding: 30px 0;

		h2{
			color: white;
			text-transform: uppercase;
			font-family: $bold;
			font-size: 22px;
			margin-bottom: 15px;
		}
		.yellow-border{
			border-bottom: 5px solid #F3BD22;
    		width: 15%;
    		height: 5px;
    		content: "";
    		margin-bottom: 15px;
		}
		p{
			color: white;
		}
	}
	section.video{
		span.span-video{
			display: block;
			text-align: center;
			font-family: $extrabold;
            margin-top: 50px;
            margin-bottom: 10px;
            font-size: 17.4px;
		}
		.embed-container { 
			position: relative;
			padding-bottom: 56.25%; 
			height: 0; 
			overflow: hidden; 
			max-width: 100%; 
			margin-top: 25px;
		} 
		.embed-container iframe, .embed-container object, .embed-container embed { 
			position: absolute; 
			top: 0; 
			left: 0; 
			width: 100%; 
			height: 100%; 
		}
		.nossasmarcas{
			h2{
				font-size: 18px;
				color: #000000;
				font-family: $bold;
				margin-top: 28px;
				margin-bottom: 0;
				display: inline-block;
			}
			article{
				margin: 25px 0;
				img{
					max-width: 100%;
					margin-bottom: 5px;
					display: block;
				}		
			}
        }
        img.brand{
            margin: 0 auto;
            display: block;
        }
		span.pos-vid{
			display: block;
			text-align: center;
			font-family: $semibold;
            padding: 30px 0;
            font-size: 16.5px;
		}
		.vid-brands{
			display: -webkit-box;
			display: -webkit-flex;
			display: -moz-box;
			display: -ms-flexbox;
			display: flex;
			-webkit-flex-align: center;
			-ms-flex-align: center;
			-webkit-align-items: center;
			align-items: center;
			width: 100%;
			margin-bottom: 30px;
			img{
  				display: block;
  				margin: 0 auto;
			}
		}
	}
	section.optimizada{
		overflow: hidden;
		position: relative;
		width: 100%;
        padding-top: 35px;
        background-size: 350px !important;
        background: linear-gradient(rgba(248,248,248,.95), rgba(248,248,248,.95)), url(../img/funcionalidades/patternFuncionalidades1.svg) bottom left no-repeat, url(../img/funcionalidades/patternFuncionalidades2.svg) bottom right no-repeat;

		h2{
			color: rgba(0,0,0,0.87);
			font-family: $extrabold;
			font-size: 21.7px;
			margin-bottom: 15px;
		}
		.yellow-border{
			border-bottom: 5px solid #F3BD22;
    		width: 15%;
    		height: 5px;
    		content: "";
    		margin-bottom: 15px;
		}
		h3{
			font-family: $semibold;
			font-size: 18.7px;
            color: rgba(0,0,0,0.87);
            margin-bottom: 15px;
            
        }
        img{
            width: 100%;
            max-width: 694px;
            float: right;

        }
	}
	span.dgd-4org{
		background: rgba(243,187,34,1);
		background: -moz-linear-gradient(left, rgba(243,187,34,1) 0%, rgba(249,148,17,1) 50%, rgba(255,111,0,1) 100%);
		background: -webkit-gradient(left top, right top, color-stop(0%, rgba(243,187,34,1)), color-stop(50%, rgba(249,148,17,1)), color-stop(100%, rgba(255,111,0,1)));
		background: -webkit-linear-gradient(left, rgba(243,187,34,1) 0%, rgba(249,148,17,1) 50%, rgba(255,111,0,1) 100%);
		background: -o-linear-gradient(left, rgba(243,187,34,1) 0%, rgba(249,148,17,1) 50%, rgba(255,111,0,1) 100%);
		background: -ms-linear-gradient(left, rgba(243,187,34,1) 0%, rgba(249,148,17,1) 50%, rgba(255,111,0,1) 100%);
		background: linear-gradient(to right, rgba(243,187,34,1) 0%, rgba(249,148,17,1) 50%, rgba(255,111,0,1) 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f3bb22', endColorstr='#ff6f00', GradientType=1 );
		color: white;
		text-align: center;
		width: 100%;
		padding: 25px;
		display: block;
		font-family: $bold;
		font-size: 22px;
		letter-spacing: 1px;
	}
	section.contact{
        background: white;
		h4{
			font-family: $semibold;
			font-size: 18px;
			text-transform: uppercase;
			margin-top: 25px;
		}
		.md-select {
			background-color: transparent;
			border: none;
			border-bottom: 1px solid #ced4da;
			border-radius: 0;
			outline: 0;
			height: 1.57rem;
			width: 100%;
			font-size: 1rem;
			-webkit-box-shadow: none;
			box-shadow: none;
			-webkit-box-sizing: content-box;
			box-sizing: content-box;
			-webkit-transition: all .3s;
			transition: all .3s;
		}
		.md-select:active {
			border-bottom: 1px solid #4285F4;
			-webkit-box-shadow: 0 1px 0 0 #4285F4;
			box-shadow: 0 1px 0 0 #4285F4;
		}
		form.form-right{
			margin-bottom: 30px;
			overflow: hidden;
			textarea{
				min-height: 230px !important;
				margin-top:30px;
				display: block;
			    width: 100%;
			    padding: .375rem .75rem;
			    font-size: 1rem;
			    line-height: 1.5;
			    color: #495057;
			    background-color: #fff;
			    border: 1px solid #ced4da;
			    border-radius: 3px;
			    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
			}
			label{
				margin-top: 25px;
    			color: rgba(0,0,0,0.53);
    			font-style: italic;
			}
			button{
				color: white;
				font-family: $bold;
				background: #FF6F00;
			}
		}
	}
	@media only screen and (max-width: 768px) {
        section.functions{
            .container{
                border-radius: 0px;
                span.first-text-top{
                    width: 100%;
                    font-size: 17px;
                    br{
                        display: none;
                    }
                } 
                .end-function{
                    border-radius: 0px;
                    img.rede-connect{
                        display: none;
                    }
                    h2{
                        margin-right: 30px;
                    }
                    p{
                        margin-right: 30px;
                    }
                }
            }
        }
        section.prefuc{
            .center-text-prefuc{
                    padding-top: 20vh;		
            }
        }
        section.optimizada{
            background: rgb(248,248,248);
        }
        span.dgd-4org{
            font-size: 17.4px;
        }
        section.video{
            span.pos-vid{
                br{
                    display: none;
                }
            }
            span.span-video{
                font-size: 17.2px
            }
            .vid-brands{
                img{
                        margin-top: 15px;
                        margin-bottom: 15px;
                }
            }
            img.brand{
                margin: 0 auto;
                margin-top: 15px;
                margin-bottom: 15px;
            }
        } 
	}
	@media screen and (max-width: 576px){
	}
}