@-webkit-keyframes fadeInleftHome{
    0%{
        opacity: 0;
        transform: translateX(-50px);
    }
    100%{
        opacity: 1;
        transform: translateX(0px);
    }
}
@-moz-keyframes fadeInleftHome {
    0%{
        opacity: 0;
        transform: translateX(-50px);
    }
    100%{
        opacity: 1;
        transform: translateX(0px);
    }
}
@-o-keyframes fadeInleftHome {
    0%{
        opacity: 0;
        transform: translateX(-50px);
    }
    100%{
        opacity: 1;
        transform: translateX(0px);
    }
}
@keyframes fadeInleftHome {
    0%{
        opacity: 0;
        transform: translateX(-50px);
    }
    100%{
        opacity: 1;
        transform: translateX(0px);
    }
}

@keyframes person1home {
    0%{
        opacity: 0;
        transform: translateX(50px);
    }
    25%{
        opacity: 1;
        transform: translateX(0px);
    }
    75%{
        opacity: 1;
        transform: translateX(0px);
    }
    100%{
        opacity: 0;
        transform: translateX(-50px);
    }
}
@keyframes person2home {
    0%{
        opacity: 0;
        transform: translateX(50px);
    }
    25%{
        opacity: 1;
        transform: translateX(0px);
    }
    75%{
        opacity: 1;
        transform: translateX(0px);
    }
    100%{
        opacity: 0;
        transform: translateX(-50px);
    }
}
@keyframes person3home {
    0%{
        opacity: 0;
        transform: translateX(50px);
    }
    25%{
        opacity: 1;
        transform: translateX(0px);
    }
    75%{
        opacity: 1;
        transform: translateX(0px);
    }
    100%{
        opacity: 0;
        transform: translateX(-50px);
    }
}
@keyframes person4home {
    0%{
        opacity: 0;
        transform: translateX(50px);
    }
    25%{
        opacity: 1;
        transform: translateX(0px);
    }
    75%{
        opacity: 1;
        transform: translateX(0px);
    }
    100%{
        opacity: 0;
        transform: translateX(-50px);
    }
}
@keyframes person5home {
    0%{
        opacity: 0;
        transform: translateX(50px);
    }
    95%{
        opacity: 0;
        transform: translateX(50px);
    }
    96%{
        opacity: 1;
        transform: translateX(0px);
    }
    100%{
        opacity: 1;
        transform: translateX(0px);
    }
}

// @keyframes personhome {
//     0%{
//         opacity: 0;
//         transform: translateX(50px);
//         background: url(../img/home/corredora_solo.png);
//     }
//     12%{
//         opacity: 1;
//         transform: translateX(0px);
//         background: url(../img/home/corredora_solo.png);
//     }
//     25%{
//         opacity: 0;
//         transform: translateX(-50px);
//         background: url(../img/home/corredora_solo.png);
//     }
//     37%{
//         opacity: 0;
//         transform: translateX(50px);
//         background: url(../img/home/corredora_solo.png);
//     }
//     37%{
//         opacity: 1;
//         transform: translateX(0px);
//         background: url(../img/home/corredora_solo.png);
//     }
//     50%{
//         opacity: 0;
//         transform: translateX(-50px);
//         background: url(../img/home/corredora_solo.png);
//     }


//     50%{
//         opacity: 0;
//         transform: translateX(50px);
//         background: url(../img/home/corredora_solo.png);
//     }
//     62%{
//         opacity: 1;
//         transform: translateX(0px);
//         background: url(../img/home/corredora_solo.png);
//     }
//     75%{
//         opacity: 0;
//         transform: translateX(-50px);
//         background: url(../img/home/corredora_solo.png);
//     }

//     75%{
//         opacity: 0;
//         transform: translateX(50px);
//         background: url(../img/home/corredora_solo.png);
//     }
//     87%{
//         opacity: 1;
//         transform: translateX(0px);
//         background: url(../img/home/corredora_solo.png);
//     }
//     100%{
//         opacity: 0;
//         transform: translateX(-50px);
//         background: url(../img/home/corredora_solo.png);
//     }



// }










body#home{
	background: #f8f8f8;
	section.banner{
		background: url(../img/home/bg.jpg) no-repeat bottom center fixed; 
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
		margin-bottom: 32px;
		overflow: hidden;
		height: 90vh;
		position: relative;
        width: 100%;
        
        img.person-banner1{
           -webkit-animation: person1home  5s;
			-moz-animation:    person1home 5s;
			-o-animation:      person1home 5s;
            animation:         person1home 5s;
            animation-delay: 0.5s;
        }
        img.person-banner2{
            -webkit-animation: person2home 5s;
			-moz-animation:    person2home 5s;
			-o-animation:      person2home 5s;
            animation:         person2home 5s;
            animation-delay: 5.5s;
        }
        img.person-banner3{
            -webkit-animation: person3home 5s;
			-moz-animation:    person3home 5s;
			-o-animation:      person3home 5s;
            animation:         person3home 5s;
            animation-delay: 10.5s;
        }
        img.person-banner4{
            -webkit-animation: person4home 5s;
			-moz-animation:    person4home 5s;
			-o-animation:      person4home 5s;
            animation:         person4home 5s;
            animation-delay: 15.5s;
        }
        img.person-banner5{
            -webkit-animation: person1home 5s;
			-moz-animation:    person1home 5s;
			-o-animation:      person1home 5s;
            animation:         person1home 5s;
            animation-delay: 20.5s;
        }
        img.person-banner6{
            -webkit-animation: person2home 5s;
			-moz-animation:    person2home 5s;
			-o-animation:      person2home 5s;
            animation:         person2home 5s;
            animation-delay: 25.5s;
        }
        img.person-banner7{
            -webkit-animation: person3home 5s;
			-moz-animation:    person3home 5s;
			-o-animation:      person3home 5s;
            animation:         person3home 5s;
            animation-delay: 30.5s;
        }
        img.person-banner8{
            -webkit-animation: person4home 5s;
			-moz-animation:    person4home 5s;
			-o-animation:      person4home 5s;
            animation:         person4home 5s;
            animation-delay: 35.5s;
        }
        img.person-banner9{
            -webkit-animation: person1home 5s;
			-moz-animation:    person1home 5s;
			-o-animation:      person1home 5s;
            animation:         person1home 5s;
            animation-delay: 40.5s;
        }
        img.person-banner10{
            -webkit-animation: person2home 5s;
			-moz-animation:    person2home 5s;
			-o-animation:      person2home 5s;
            animation:         person2home 5s;
            animation-delay: 45.5s;
        }
        img.person-banner11{
            -webkit-animation: person3home 5s;
			-moz-animation:    person3home 5s;
			-o-animation:      person3home 5s;
            animation:         person3home 5s;
            animation-delay: 50.5s;
        }
        img.person-banner12{
            -webkit-animation: person4home 5s;
			-moz-animation:    person4home 5s;
			-o-animation:      person4home 5s;
            animation:         person4home 5s;
            animation-delay: 55.5s;
        }
        img.person-banner13{
            -webkit-animation: person1home 5s;
			-moz-animation:    person1home 5s;
			-o-animation:      person1home 5s;
            animation:         person1home 5s;
            animation-delay: 60.5s;
        }
        img.person-banner14{
            -webkit-animation: person2home 5s;
			-moz-animation:    person2home 5s;
			-o-animation:      person2home 5s;
            animation:         person2home 5s;
            animation-delay: 65.5s;
        }
        img.person-banner15{
            -webkit-animation: person3home 5s;
			-moz-animation:    person3home 5s;
			-o-animation:      person3home 5s;
            animation:         person3home 5s;
            animation-delay: 70.5s;
        }
        img.person-banner16{
            -webkit-animation: person4home 5s;
			-moz-animation:    person4home 5s;
			-o-animation:      person4home 5s;
            animation:         person4home 5s;
            animation-delay: 75.5s;
        }
        img.person-banner17{
            -webkit-animation: person5home 85.5s;
			-moz-animation:    person5home 85.5s;
			-o-animation:      person5home 85.5s;
            animation:         person5home 85.5s;
            animation-delay: 0s;
        }

        img.person-banner17{
            opacity: 1;
            position: absolute;
			width: 100%;
			max-width: 520px;
			bottom: -60px;
			right: 0;
        }
		img.person-banner1,img.person-banner5,img.person-banner9,img.person-banner13{
			position: absolute;
			width: 100%;
			max-width: 520px;
			bottom: -60px;
			right: 0;
            opacity: 0;
		}
		img.person-banner2,img.person-banner6,img.person-banner10,img.person-banner14{
			position: absolute;
			width: 100%;
			max-width: 480px;
			bottom: -60px;
			right: 0;
            opacity: 0;
		}
		img.person-banner3,img.person-banner7,img.person-banner11,img.person-banner15{
			position: absolute;
			width: 100%;
			max-width: 500px;
			bottom: -60px;
			right: 0;
            opacity: 0;
		}
		img.person-banner4,img.person-banner8,img.person-banner12,img.person-banner16{
			position: absolute;
			width: 100%;
			max-width: 420px;
			bottom: -60px;
			right: 0;
            opacity: 0;
        }
        
		.inputshome{
			display: flex;
			flex-direction: column;
			max-width: 370px;
			justify-content: center;
			margin-left: -15px;
			height: calc(90vh - 60px);
			-webkit-animation: fadeInleftHome 2s;
			-moz-animation:    fadeInleftHome 2s;
			-o-animation:      fadeInleftHome 2s;
			animation:         fadeInleftHome 2s;
			-webkit-backface-visibility: hidden;
			-webkit-transform: translateZ(0) scale(1.0, 1.0);
			transform: translateZ(0);
			font-smoothing: antialiased !important;
			h2{
				color: white;
				text-transform: uppercase;
				font-family: $bold;
				font-size: 22px;
				margin-bottom: 15px;
			}
			.yellow-border{
				border-bottom: 5px solid #F3BD22;
				width: 35%;
				height: 5px;
				content: "";
				margin-bottom: 15px;
			}
			h3{
				font-family: $regular;
				font-size: 18px;
				color: white;
            }
            .md-form{
                margin-left: 15px;
                label{
                    color: white;
				}
				input[type=email]{
                    color: white;
                }
                input[type=email]:focus:not([readonly]) + label {
                    color: #F3BD22; 
				}
				input{
					&.valid{
						width: 100%;
					}
					&.invalid{
						width: 100%;
					}
				}
                input[type=email]:focus:not([readonly]) {
                    border-bottom: 1px solid #F3BD22;
                    box-shadow: 0 1px 0 0 #F3BD22; 
                }
                input[type=text]{
                    color: white;
                }
                input[type=text]:focus:not([readonly]) + label {
                    color: #F3BD22; 
                }

                input[type=text]:focus:not([readonly]) {
                    border-bottom: 1px solid #F3BD22;
                    box-shadow: 0 1px 0 0 #F3BD22; 
                }
                .dropdown-content li>a, .dropdown-content li>span{
                    color: rgba(0,0,0,0.87);
                }
            }
            .select-wrapper{
                margin-top: 23px;
                width: 56px;
                margin-left: 20px;
                color: white;
                span.caret{
                    color: white;
                }
                ul.select-dropdown{
                    max-height: 250px !important;
                }
            }
			button{
				color: white;
				background-color: #FF6F00;
				font-family: "monradbold", sans-serif;
				font-size: 14px;
				text-transform: uppercase;
				display: block;
				margin: 0;
			}
		}
	}
	.search{
        margin-top:-64px;
        position: absolute;
        z-index: 10;
		width: 100%;
		.col-md-12{
			padding: 0;
			input[type="text"] {
				width: 100%;
				margin: 0 auto;
				display: block;
				border-radius: 5px;
				border: none;
				padding: 20px 20px 20px 50px;
				padding-right: 50px;
				position: relative;
				-webkit-box-shadow: 0 0 0px 1000px white inset;

                &:focus{
                        outline:none !important;
                }
			}
			i{
				position: absolute;
				top: 24px;
				left: 25px;
				font-size: 15px;
				color: rgba(0,0,0,0.37);
            }
            input[type="date"]{
                height: 25px;
				position: absolute;
				cursor: pointer;
                top: 20px;
                padding-left: 30px;
				right:65px;
				color: rgba(0,0,0,0.37);
				background: white;
				border: 0;
                -webkit-appearance: none;
                &:before{
                    content: 'A partir de:';
                    margin-right: 5px;
                    color: rgba(0,0,0,0.54);
                    cursor: pointer;
                }
                &:focus{
                    outline:none !important;
                }
            }
            input::-webkit-inner-spin-button, input::-webkit-clear-button {
                display: none;
            }
            input::-webkit-calendar-picker-indicator {
                color: rgba(0, 0, 0, 0);
                position: absolute;
                left: 0;
                border: none;
                cursor: pointer;
                opacity: 1;
                display: block;
                background: url(../img/svg/date.svg) no-repeat;
                opacity: 0.54;
                width: 80px;
                height: 20px;
                border-width: thin;
            }
			input[type="submit"] {
				height: 25px;
				position: absolute;
				cursor: pointer;
				top: 20px;
				right:25px;
				font-family: FontAwesome;
				color: rgba(0,0,0,0.37);
				background: transparent;
				border: 0;
				-webkit-appearance: none;
			}
			#eac-container-tickeagorasearch{
				background: white;
                margin: 0px 0px;
                width: 100%;
				border-radius: 0px 0px 5px 5px;
				box-shadow: 0 .125rem .25rem rgba(0,0,0,.075)!important;
				ul{
					padding: 0; 
					li{
						list-style-type: none;
						padding: 20px 20px 20px 50px;
						cursor: pointer;
					}
				}
			}
		}

	}
	.line-events{
        .col-md-4{
            &:focus{
                outline:none;
            }
        }
		.title-seemore{
			width: 100%;
            		margin-top: 20px;
            		margin-bottom: -30px;
			h2{
				font-size: 18px;
				color: #000000;
				font-family: $bold;
				margin-top: 28px;
				display: inline-block;
				margin-bottom: 15px;
			}
			a{
				margin-top: 28px;
				font-family:$semibold;
				font-size: 14px;
				text-decoration: underline;
				color: #FF6F00;
			}	
		}
		.open-event-btn{
			color: white;
			background-color: #FF6F00;
			font-family: $bold;
			font-size: 14px;
			text-transform: uppercase;
			margin: 0 auto;
			display: block;
			margin-bottom: 35px;
			margin-top: 35px;
		}
	}
	span.gradients-alert{
		background: rgba(243,187,34,1);
		background: -moz-linear-gradient(left, rgba(243,187,34,1) 0%, rgba(249,148,17,1) 50%, rgba(255,111,0,1) 100%);
		background: -webkit-gradient(left top, right top, color-stop(0%, rgba(243,187,34,1)), color-stop(50%, rgba(249,148,17,1)), color-stop(100%, rgba(255,111,0,1)));
		background: -webkit-linear-gradient(left, rgba(243,187,34,1) 0%, rgba(249,148,17,1) 50%, rgba(255,111,0,1) 100%);
		background: -o-linear-gradient(left, rgba(243,187,34,1) 0%, rgba(249,148,17,1) 50%, rgba(255,111,0,1) 100%);
		background: -ms-linear-gradient(left, rgba(243,187,34,1) 0%, rgba(249,148,17,1) 50%, rgba(255,111,0,1) 100%);
		background: linear-gradient(to right, rgba(243,187,34,1) 0%, rgba(249,148,17,1) 50%, rgba(255,111,0,1) 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f3bb22', endColorstr='#ff6f00', GradientType=1 );
		color: white;
		text-align: center;
		width: 100%;
		padding: 25px;
		display: block;
		font-family: $bold;
		font-size: 22px;
		letter-spacing: 1px;
	}
	.open-event{
		background: url("../img/home/linhas1.svg") top left repeat-y,
					url("../img/home/linhas2.svg") top right repeat-y,
					white;
		padding-bottom: 50px;
		.promoimg{
			overflow:hidden;
			padding: 30px 50px 30px 50px;
			img{
				display: block;
				margin: 0 auto;
				width: 100%;
				max-width: 435px;
			}	
		}
		span.semititle{
			font-family: $bold;
			font-size: 16.4px;
			display: block;
			text-align: center;
			margin-bottom: 25px;
		}
		.open-event-btn{
			color: white;
			background-color: #FF6F00;
			font-family: $bold;
			font-size: 14px;
			text-transform: uppercase;
			margin: 0 auto;
			display: block;
		}
		.specs{
			overflow: hidden;
			img{
				float: left;
				clear: left;
				display: block;
				margin-left: -15px;
				margin-right: 15px;
				margin-top: 5px;
				width: 36px;
			}
			ul{
				padding: 0;
				overflow: hidden;
				li{
					float: left;
					list-style-type: none;
					font-size: 16px;
					h4{
						font-family: $semibold;
						padding: 0;
						margin: 0;
						font-size: 18.4px;

					}
					p{
						font-family: $regular;
					}
					&:first-child{
						font-size: 20px;
						font-family: $bold;
						margin-bottom: 7px;
					}
				}
			}
		}
	}
}
@media screen and (max-width: 1366px) {
	body#home {
		section.banner{
			img.person-banner1,img.person-banner5,img.person-banner9,img.person-banner13,img.person-banner17{
				max-width: 380px;
          		}
				img.person-banner2,img.person-banner6,img.person-banner10,img.person-banner14{
				max-width: 375px;
			}
			img.person-banner3,img.person-banner7,img.person-banner11,img.person-banner15{
				max-width: 380px;
			}
			img.person-banner4,img.person-banner8,img.person-banner12,img.person-banner16{
				max-width: 320px;
			}
		}
	}
}
@media screen and (max-width: 768px) {
	body#home {
		section.banner{
			padding-top: 60px;
			height: auto;
			img.person-banner1, img.person-banner2, img.person-banner3, img.person-banner4, img.person-banner5{
				display: none !important;
			}
			.inputshome{
				max-width: 100%;
				height: auto;
				margin-left: 15px;
				margin-top: 30px;
				margin-bottom: 50px;
                .select-wrapper{
                    ul.select-dropdown{
                        max-height: 110px !important;
                    }
                }
			}
    	}
		.search{
			width: calc(100% - 30px);
			margin-left: 15px;
            input[type="date"]{
                right: 25px !important;
                &:before{
                    content: '' !important;
                }
            }
            input::-webkit-calendar-picker-indicator {
                color: rgba(0, 0, 0, 0);
                position: absolute;
                left: 0;
                border: none;
                cursor: pointer;
                opacity: 1;
                display: block;
                background: url(../img/svg/date.svg) no-repeat;
                opacity: 0.54;
                width: 80px;
                height: 20px;
                border-width: thin;
            }
			input[type="text"]{
				padding: 20px 50px 20px 50px !important;
			}
		}
		.line-events{
			.no-padding{
				padding: 15px !important;
				padding: 15px !important;
			}
			.open-event-btn{
				margin-top: 10px;
			}
			.title-seemore{
				margin-top: 0;
			}
			.more-events-item{
				margin-bottom: 5px;
			}
		}
		.open-event{
			.specs{
				img{
					margin-left: 0px;
				}
			}
		}
	}
}







