body#login{ 
    width: 100%;
    min-height: 100vh;
    &.organizador{
        background: url(../img/login/bg-login-organizadores.jpg) no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }
    &.participante{
        background: url(../img/login/bg-login-participantes.jpg) no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }
	.card{
		padding: 30px;
		border-radius: 4px;
        position: absolute;
        width: 100%;
        max-width: 400px;
		left: 50%;
		top: 50%;
        transform: translate(-50%, -50%);
        h1{
            font-family: $extrabold;
            font-size: 16px;
        }
        span.changeLogin{
            	margin-top: 10px;
				margin-bottom: 35px;
                font-size: 14px;
                display: block;
                
				a{
					margin-left: 5px;
					color: #ff6f00;
				}
        }
        .change-login{
			p{
				margin-top: 0px;
				margin-bottom: 0;
				text-align: left;
				a{
					margin-left: 5px;
					color: #ff6f00;
				}
			}
        }
        .md-form{
            label{
                width: 100%;
            }
            &.mail-form-login{
                margin-bottom: 40px;
                input{
                    &.valid{
                        width: 100%;
                    }
                    &.invalid{
                        width: 100%;
                    }
                }
            }
            &.mail-form-password{
                input{
					letter-spacing: 5px;
					width: calc(100% - 64px);
					padding-right: 64px;
                }
                input[type=text]:focus:not([readonly]) + label { 
                    color: #FF6F00 !important; 
                }
            }
            input[type=text]:focus:not([readonly]),
            input[type=password]:focus:not([readonly]),
            input[type=email]:focus:not([readonly]),
            textarea.md-textarea:focus:not([readonly]) {
                border-bottom: 1px solid #FF6F00;
                box-shadow: 0 1px 0 0 #FF6F00;
            }
            input:focus + label {
                color: #FF6F00;
            }
        }
		a.a-sub-item{
			position: absolute;
			top: 0;
			right: 0;
			color: #ff6f00;
        }
        .text-center{
            button.btn-login{
                color: rgba(0,0,0,0.37);
                font-family: $bold;
				font-size: 16px;
				box-shadow: none;
            }
            hr{
                margin-bottom: 0;
                width: 25%;
            }
        }
		a.enter-facebook{
			margin-top: 20px;
			background: #546BC9;
			font-family: $semibold;
			&:hover{
				color: white;
			}
			i{
				position: absolute;
				top: 12px;
				left: 15px;
			}
		}
		.options{
			p{
				margin-top: 10px;
				margin-bottom: 0;
                text-align: center;
                font-size: 14px;
				a{
					margin-left: 5px;
					color: #ff6f00;
				}
			}
		}
    }
    

    
	.modal-register{
		.modal-header{
			border-bottom: none;
			h5{
				font-family: $bold;
				font-size: 18px;
			}
		}
		.modal-body{
			.input-radios{
				margin-top: -20px;
				.form-check{
					display: inline-block !important;
					margin-right: 20px !important;
					padding: 0 !important;
					margin-left: -3px;
					[type="radio"]:checked + label::after, [type="radio"].with-gap:checked + label::after {
						background-color: #FF6F00 !important;
					}
					[type="radio"]:checked + label::after, [type="radio"].with-gap:checked + label::before, [type="radio"].with-gap:checked + label::after {
						border: 2px solid #FF6F00 !important;
					}
				}
			}
		}

		.custom-checkbox .custom-control-label::before {
			border-radius: 3px !important;
		}
		.custom-control-input:checked~.custom-control-label::before,.custom-checkbox .custom-control-input:checked~.custom-control-label::before, .custom-checkbox .custom-control-input:indeterminate~.custom-control-label::before{
			background-color: #FF6F00 !important;
		}
		button.submit{
			margin-top: 30px;
			color: rgba(0, 0, 0, 0.37);
			font-family: $bold;
			font-size: 18px;
		}
		.md-form {
			margin-bottom: 35px;
			label{
				color: rgba(0,0,0,0.87) !important;
			}
			input[type=text]:focus:not([readonly]),
			input[type=password]:focus:not([readonly]),
			input[type=email]:focus:not([readonly]),
			textarea.md-textarea:focus:not([readonly]) {
				border-bottom: 1px solid #FF6F00;
				box-shadow: 0 1px 0 0 #FF6F00;
			}
			input:focus + label {
				color: #FF6F00;
			}
		}
		.line-register{
			margin-bottom: 30px;
			input.topper{
				margin-top: 30px;
			}
			&.no-margin{
				margin-bottom: 0;
			}
		}
		.select-wrapper{
			margin-top: 0;
		}
		label.info-register{
			font-size: 14px;
			width: 100%;
			&.bold{
				font-weight: 700;
			}
		}
		.dropdown-content li>span{
			color: black;
		}
	}


}
@media screen and (max-width: 768px){
	body#login{
		height: auto;
		background: #F8F8F8;
		.card{
			width: calc(100% - 40px);
			position: initial;
			border-radius: 0;
			background: #F8F8F8;
			left: 0;
			right: 0;
            margin-top: 65px;
            margin-right: 20px;
            margin-left: 20px;
			transform: translate(0,0);
        }
        .modal-register{
            .line-register{
                input.topper{
                    margin-top: -35px;
                }
            }
        }
	}
}
@media screen and (max-width: 320px){
	body#login{
		height: auto;
		background: #F8F8F8;
		.card{
			width: calc(100% - 40px);
			position: initial;
			border-radius: 0;
			background: #F8F8F8;
			left: 0;
			right: 0;
            margin-top: 65px;
            margin-right: 20px;
            margin-left: 20px;
			transform: translate(0,0);
		}
	}
}