// nav
nav.navbar{
	padding-right: 0 !important;
	.container-fluid{
		padding-left: 0;
		padding-right: 0;
		button{
			background: transparent;
			border: none;
			i{
				color: rgba(0,0,0,0.87);
			}
			i.dots:after {
				content: '\2807';
				font-size: 26px;
				margin-right: -7px;
				font-style: normal;
			}
		}
		@-webkit-keyframes open{
			0%{
				opacity: 0;
				transform: scale(0);
			}
			100%{
				opacity: 1;
				transform: scale(1);
			}
		}
		@-moz-keyframes open{
			0%{
				opacity: 0;
				transform: scale(0);
			}
			100%{
				opacity: 1;
				transform: scale(1);
			}
		}
		@-o-keyframes open{
			0%{
				opacity: 0;
				transform: scale(0);
			}
			100%{
				opacity: 1;
				transform: scale(1);
			}
		}
		@keyframes open{
			0%{
				opacity: 0;
				transform: scale(0);
			}
			100%{
				opacity: 1;
				transform: scale(1);
			}
		}
		.dropdown-menu{
			min-width: 12.5rem;
			border: 1px solid rgba(0,0,0,.1);
			opacity: 0;
			transform: scale(0);
			transform-origin: 0 0;
			will-change: transform, opacity;
			transition: transform .3s cubic-bezier(.4, 0, .2, 1), opacity .2s cubic-bezier(.4, 0, .2, 1);
			&.show{
				animation-name: open;
				animation-duration: .3s;
				animation-fill-mode: forwards;
				animation-timing-function: cubic-bezier(.4, 0, .2, 1);
			}
		}
		.dropdown-menu.dropdown-menu-right,.dropdown-menu{
			transform-origin: 100% 0;
		}		
	}
	&.nav-colored{
		background: white;
		transition: all ease 0.5s;
		.navbar-nav{
			font-family: $semibold;
            text-transform: uppercase;
            li.nav-item{
                display: flex;
                align-items: center;
                justify-content: center;
                a.nav-link{
                    color: rgba(0,0,0,0.87);
                    font-family: $semibold;
                    font-size: 14px;
                    margin-left: 35px;
                    padding: 0;
                    &:hover{
                        color: #ff6f00;
                    }
                }
                a.nav-link-login{
                    color: #ff6f00;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    img{
                        width: 32px;
                        margin-right: 10px;
                    }
                    &:hover{
                        color: #f5b381;
                    }
                }
                .dropdown-menu{
                    border-radius: 0px;
                    border-top: none;
                    width: 150px;
                    left: initial;
                    padding: 0;
                    a{
                        font-size: 14px;
                        padding: 3px 10px;
                        text-transform: initial;
                        font-family: $regular;
                        &:active {
                            background: #ff6f00;
                        }
                    }
                }
            }
        }
	}
	&.nav-transparent{
		background: transparent;
		transition: all ease 0.5s;
		box-shadow: none !important;
		.navbar-nav{
			font-family: $semibold;
			text-transform: uppercase;
			a.nav-link{
				color: white;
				font-family: $semibold;
				font-size: 14px;
				margin-left: 35px;
				padding: 0;
				&:hover{
					color: #ff6f00;
				}
			}
			a.nav-link-login{
				color: #ff6f00;
				&:hover{
					color: #f5b381;
				}
			}
			.dropdown-menu{
				border-radius: 0px;
				border-top: none;
				width: 150px;
				left: initial;
				padding: 0;
				a{
					font-size: 14px;
					padding: 3px 10px;
					text-transform: initial;
					font-family: $regular;
					&:active {
						background: #ff6f00;
					}
				}
			}
		}
	}
	#mini-avatar{
		width: 35px;
		height: 35px;
		margin-right: 15px;
	}
}
.overlay,.sideMenu {
	position: fixed;
	bottom: 0
}
.overlay {
	top: 0;
	margin: auto;
	background-color: rgba(0, 0, 0, .38);
	z-index: 1030;
	opacity: 0;
	transition: all ease 0.8s;
	&.open{
		left:0;
		right:0;
		opacity: 1;
	}
}
.sidebarNavigation {
	margin-bottom: 0;
	z-index: 999;
	justify-content: flex-start;
	&.leftNavbarToggler{
		margin-right: 10px;
		order: -1;
	}
}
.sideMenu {
	left: -100%;
	top: 0;
	transition: all ease 0.5s;
	overflow: hidden;
	width: 100%;
	z-index: 1040;
	max-width: 80%;
	margin-bottom: 0;
	padding: 1rem;
	background-color: #FAFAFA;
	background: #fafafa url(../img/svg/menuPattern.svg) no-repeat bottom center;
	box-shadow: 0 1rem 3rem rgba(0,0,0,.175)!important;
	&.open{
		left: 0;
		display: block;
		overflow-y: auto;
	}
	.login-navbar{
		background: rgba(0,0,0,.12);
		margin: -16px -16px 0px -16px;
		overflow: hidden;
		padding: 16px 16px 16px 16px;
		img{
			width: 33.33%;
			min-width: 72px;
			min-height: 72px;
			border-radius: 50%;
			margin-right: 15px;
		}
		aside{
			text-align: left;
			h5{
				font-family: $semibold;
				margin-bottom: 0;
				width: 100%;
				text-align: left;
				margin-top: 15px;
				font-size: 15.4px;
			}
			span{
				font-size: 14px;
				a{
					margin-left: 3px;
					color: #FF6F00;
				}
            }
            a{
                i{
                    float: right;
                    color: rgba(0,0,0,0.87);
                }
            }
		}
	}
	ul{
		margin: 15px 0 0 0;
		padding: 0px 0px;
		font-family: $semibold;
		li{
			border-bottom: 1px solid rgba(0, 0, 0, 0.08);
			a.nav-link{
				color: rgba(0,0,0,0.54);
				font-size: 15.4px;
				padding: 0;
				font-family: $semibold;
				line-height: 40px;
				width: 100%;
				display: block;
				&:hover{
					color: #ff6f00;
				}
				i{
					margin-right: 25px;
					font-size: 1.25em;
					color: rgba(0, 0, 0, 0.54);
				}
			}
			a.nav-link-login{
				color: #ff6f00;
				&:hover{
					color: #f5b381;
				}
			}
			&:last-child{
				border-bottom: none;
			}
		}
	}
}
@media screen and (max-width: 768px){
	nav.navbar{
		&.nav-transparent{
			background: white;
		}
		a.navbar-brand{
			img{
				position: absolute;
				left: 50%;
				top: 50%;
				transform: translate(-50%, -50%);
			}
		}
		.navbar-nav{
			a.nav-link{
				&:first-child{
					margin-top: 20px;
				}
			}
			a.nav-link-login{
				&:hover{
					background: transparent;
					color: #ff6f00;
				}
			}
		}
	}
}