@media screen and (max-width: 768px) {
  body#painel section.content .avatar-info-left {
    position: static;
    display: block; }
    body#painel section.content .avatar-info-left a.cam-edit-avatar {
      left: 20% !important; }
    body#painel section.content .avatar-info-left img {
      display: block;
      margin: 0 auto; }
  body#painel section.content .content-middle {
    margin-top: 35px; }
    body#painel section.content .content-middle .tab-content {
      padding-top: 34px; }
    body#painel section.content .content-middle #tabs-panel-menu {
      position: fixed;
      top: 45px;
      left: 0;
      min-width: 100%;
      background: white;
      z-index: 1000;
      white-space: nowrap;
      /* [1] */
      overflow-x: auto;
      /* [2] */
      -webkit-overflow-scrolling: touch;
      /* [3] */
      -ms-overflow-style: -ms-autohiding-scrollbar;
      /* [4] */ }
      body#painel section.content .content-middle #tabs-panel-menu::-webkit-scrollbar {
        display: none; }
      body#painel section.content .content-middle #tabs-panel-menu ul.nav.nav-tabs {
        margin: 0 auto;
        padding-left: 0px;
        background: white;
        padding-right: 0px;
        padding-top: 5px;
        width: 1000%;
        height: 34px;
        max-width: 455px; }
        body#painel section.content .content-middle #tabs-panel-menu ul.nav.nav-tabs li {
          float: none;
          white-space: nowrap;
          /* [1] */
          margin-left: 15px;
          height: 100%;
          margin-right: 15px; }
          body#painel section.content .content-middle #tabs-panel-menu ul.nav.nav-tabs li:first-child {
            margin-left: 30px; }
          body#painel section.content .content-middle #tabs-panel-menu ul.nav.nav-tabs li:last-child {
            margin-right: 30px; }
        body#painel section.content .content-middle #tabs-panel-menu ul.nav.nav-tabs .nav-link {
          margin-right: 0px;
          font-size: 15px;
          padding-bottom: 5px; }
        body#painel section.content .content-middle #tabs-panel-menu ul.nav.nav-tabs .nav-link.active {
          background: white;
          border-bottom: 3px solid #FF6F00; }
    body#painel section.content .content-middle #paneInsc form.input-radios .radio {
      margin-right: 10px; }
      body#painel section.content .content-middle #paneInsc form.input-radios .radio .radio-label {
        font-size: 13px; }
        body#painel section.content .content-middle #paneInsc form.input-radios .radio .radio-label:before {
          margin-right: 5px;
          width: 1.25em;
          height: 1.25em; } }
